#title {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
}

p.box {
  height: 8vh;
  padding-top: 5vh;
  text-align: center;
  margin: 1vh;
  font-size: 120%;
}

p.player_one {
  background-color:rgb(255, 229, 204);
}

p.player_two {
  background-color:rgb(204, 255, 255);
}

p.player_turn {
  outline: none;
  height: 6vh;
  font-size: 120%;
  font-weight: bold;
}

p.hide {
  visibility: hidden;
}

.center {
  text-align: center;
}

p.player_position {
  outline: none;
  height: 6vh;
  font-size: 120%;
  font-weight: bold;
}